body {
    background: url('https://p7.hiclipart.com/preview/430/779/813/mathematics-formula-equation-mathematical-notation-mathematics.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}